# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.pdb
*.egg
*.egg-info/
dist/
build/
*.manifest
*.spec

# Virtual Environments
.venv/
env/
venv/
ENV/

# Pipenv
Pipfile.lock

# Pytest
.cache/

# Mypy
.mypy_cache/
.dmypy.json
dmypy.json

# VS Code
.vscode/

# PyCharm
.idea/

# Jupyter Notebooks
.ipynb_checkpoints/

# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# JetBrains
*.iml
